language: julia

os:
  - osx
  - linux

julia:
  - 0.4
  - 0.5
  - nightly
  
notifications:
  email: false
 
#script: # use the default script setting, which is equivalent to the following
#  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
#  - julia --check-bounds=yes -e 'Pkg.clone(pwd()); Pkg.build("KrylovMethods"); Pkg.test("KrylovMethods"; coverage=true)'

after_success:
  - julia -e 'cd(Pkg.dir("KrylovMethods")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
